[Unit]
Description=bigmotor
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 bigMotor.py
WorkingDirectory=/home/pi/motor
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
