[Unit]
Description=GPIO shutdown button
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python /home/pi/bigMotor/shutdown_button.py

[Install]
WantedBy=multi-user.target
